<form>
  {{#if loggedIn}}
    <div class='form-group'>
      <label for='exampleFormControlSelect2'>Please select your character's
        setting!</label>
      <select multiple class='form-control' id='exampleFormControlSelect2'>
        <button>Fantasy</button>
        <button>Science Fiction</button>
        <button>Other</button>
      </select>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlTextarea1'>If you selected 'other' please
        list the setting below.</label>
      <textarea
        class='form-control'
        id='exampleFormControlTextarea1'
        rows='3'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlTextarea1'>Please list your character's
        gender</label>
      <textarea
        class='form-control'
        id='exampleFormControlTextarea1'
        rows='3'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlTextarea1'>What race is your character?</label>
      <textarea
        class='form-control'
        id='exampleFormControlTextarea1'
        rows='3'
      ></textarea>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlSelect2'>What is your character's eye color?</label>
      <select multiple class='form-control' id='exampleFormControlSelect2'>
        <button>Blue</button>
        <button>Green</button>
        <button>Brown</button>
        <button>Hazel</button>
        <button>Purple</button>
      </select>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlSelect2'>What is your character's hair
        color?</label>
      <select multiple class='form-control' id='exampleFormControlSelect2'>
        <button>Brown</button>
        <button>Black</button>
        <button>Blonde</button>
        <button>Gray</button>
        <button>White</button>
        <button>Bald</button>
      </select>
    </div>
  {{/if}}
</form>
