{{#if loggedIn}}
<form>
    <div class='form-group'>
      <label for='exampleFormControlTextarea1'>What is your character's gender?</label>
      <input type="text" class="form-input" id="gender" placeholder="Please enter a gender"></textarea>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlTextarea1'>What race is your character?</label>
      <select class="form-select" id="race"> 
        <option selected>Choose your race</option>
        <option value="1">Aarakocra</option>
        <option value="2">Aasimar</option>
        <option value="3">Bugbear</option>
        <option value="4">Centaur</option>
        <option value="5">Changeling</option>
        <option value="6">Dragonborn</option>
        <option value="7">Dwarf</option>
        <option value="8">Elf</option>
        <option value="9">Firbolg</option>
        <option value="10">Genasi</option>
        <option value="11">Gith</option>
        <option value="12">Gnome</option>
        <option value="13">Goblin</option>
        <option value="14">Goliath</option>
        <option value="15">Half-Elf</option>
        <option value="16">Half-Orc</option>
        <option value="17">Halfling</option>
        <option value="18">Hexblood Lineage</option>
        <option value="19">Hobgoblin</option>
        <option value="20">Human</option>
        <option value="21">Kalashtar</option>
        <option value="22">Kenku</option>
        <option value="23">Kobold</option>
        <option value="24">Leonin</option>
        <option value="25">Lizardfolk</option>
        <option value="26">Loxodon</option>
        <option value="27">Minotaur</option>
        <option value="28">Orc</option>
        <option value="29">Reborn Lineage</option>
        <option value="30">Satyr</option>
        <option value="31">Shifter</option>
        <option value="32">Simic Hybrid</option>
        <option value="33">Tabaxi</option>
        <option value="34">Tiefling</option>
        <option value="35">Tortle</option>
        <option value="36">Triton</option>
        <option value="37">Vedalken</option>
        <option value="38">Verdan</option>
        <option value="39">Warforged</option>
        <option value="40">Yuan-Ti Pureblood</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlTextarea1'>What class is your character?</label>
      <select class="form-select" id="class"> 
        <option selected>Choose your class</option>
        <option value="1">Barbarian</option>
        <option value="2">Bard</option>
        <option value="3">Cleric</option>
        <option value="4">Druid</option>
        <option value="5">Fighter</option>
        <option value="6">Monk</option>
        <option value="7">Paladin</option>
        <option value="8">Ranger</option>
        <option value="9">Rogue</option>
        <option value="10">Sorcerer</option>
        <option value="11">Warlock</option>
        <option value="12">Wizard</option>
      </select>
    </div>
    <div class='form-group' >
      <label for='exampleFormControlSelect2'>What is your character's eye color?</label>
      <select class="form-select" id="eye-color">
        <option selected>Choose your eye color</option>
        <option value="1">Blue</option>
        <option value="2">Green</option>
        <option value="3">Brown</option>
        <option value="4">Hazel</option>
        <option value="5">Purple</option>
        <option value="6">Red</option>
        <option value="7">Black</option>
        <option value="8">Yellow</option>
        <option value="9">Gray</option>
      </select>
    </div>
    <div class='form-group'>
      <label for='exampleFormControlSelect2'>What is your character's hair color?</label>
      <select class="form-select" id="hair-color">
        <option selected>Choose your hair color</option>
        <option value="1">Blue</option>
        <option value="2">Green</option>
        <option value="3">Brown</option>
        <option value="4">Blonde</option>
        <option value="5">Purple</option>
        <option value="6">Red</option>
        <option value="7">Black</option>
        <option value="8">White</option>
        <option value="9">Gray</option>
        <option value="10">Bald</option>
      </select>
    </div>
    <input type="submit" class="btn btn-danger" id="submitBtn" value="Discover your character"> 
    </form>

    
  {{/if}}
<script src='/js/char-form.js'></script>
