{{#if loggedIn}}
  <div>
    <p id='charnameappend'>Character Name:</p>
    <p id='backstoryappend'>Backstory:</p>
  </div>
{{/if}}

<script src='/js/chatgptscript.js'></script>
<script src='/js/retrieve-image.js'></script>