{{#if loggedIn}}
  <div class="output">
    <p id='charnameappend'>Character Name:</p>
    <p id='backstoryappend'>Backstory:</p>
    <button class='btn btn-danger' type='submit' id="regen">Re-Generate Legend</button>
  </div>

{{/if}}

<script src='/js/chatgptscript.js'></script>
<script src='/js/retrieve-image.js'></script>