{{#if loggedIn}}
  <div class='output'>
    <p id='testtext'></p>
    <p id='charnameappend'>Character Name:</p>
    <p id='backstoryappend'>Backstory:</p>
    <button class='btn btn-primary' type='submit' id='regen'>Re-Generate Legend</button>
    <button class='btn btn-primary' type='submit' id='save'>Save</button>
  </div>
{{else}}
  <p>No character found.</p>
{{/if}}

<script src='/js/chatgptscript.js'></script>
<script src='/js/saveoutput.js'></script>
<script src='/js/retrieve-image.js'></script>