{{! <h1>HEYO</h1> }}
{{!-- <h2>Character id: {{data.id}}</h2> --}}
<img
  id='savedimg'
  src='{{data.image_link}}'
  onerror='this.style.display = "none"'
/>
<p id='savednamefield'>{{data.name}}</p>
<p id='savedbackstoryfield'>{{data.backstory}}</p>

{{! <script src='/js/outputsinglescript.js'></script> }}