<html lang='en'>

  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>LegendSmith</title>
    <link rel='stylesheet' type='text/css' href='../../css/jass.css' />
    <link rel='stylesheet' type='text/css' href='../../css/style.css' />
  </head>

  <body>
    <header>
      <h1>Welcome to LegendSmith!</h1>
    </header>
        <nav>
          <a href="/">Home</a>
          {{#if loggedIn}}
            <form id="logout-form" action="/logout" method="GET">
              <button type="submit" id="logout" class="btn-no-style">Logout</button>
            </form>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </nav>
    <main>
      {{!-- <aside>
        <h2>Enjoy!</h2>
      </aside> --}}
    <div class='gallery'>
        {{{body}}}
      {{!-- <script src='/js/login.js'></script> --}}
    </div>
  </body>
    </main>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
</html>