{{! items for the homepage will go here - what you see after logging in  }}

{{! view past character / create new character }}
{{! name and thumbnail of each previous character created 
A CARD leading to character page }}

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome Back {{userName}}!</title>
    <link rel='stylesheet' type='text/css' href='../../css/jass.css' />
    <link rel='stylesheet' type='text/css' href='../../css/style.css' />
  </head>
  <body>
    {{#if loggedIn}}
    <h1>Previous Character</h1>
    <h1>Build New Character</h1>

    {{else}}
    <a href='/login'>login</a>
  </body>
</html>