{{! items for the homepage will go here - what you see after logging in  }}

{{! view past character / create new character }}
{{! name and thumbnail of each previous character created 
A CARD leading to character page }}

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Welcome Back {{username}}!</title>
    <link rel='stylesheet' type='text/css' href='../../css/jass.css' />
    <link rel='stylesheet' type='text/css' href='../../css/style.css' />
  </head>
  <body>
    {{#if loggedIn}}
      <a href='#' onclick='loadProfileForm()'><button class='build-char'>View
          Profile</button></a>

      <a href='./partials/char-form.handlebars'><button>Build New Character</button></a>
      <p id='testappend'>P text for LB testing with chatgpt</p>
      {{! <div class='input-container'>
        <input />
        <div id='submit'>➢</div>
      </div> }}
    {{/if}}

    <script src='/js/chatgptscriptgetbackstory.js'></script>
    {{! <script src='/js/chatgptscriptgetname.js'></script> }}
    <script>
      function loadProfileForm() { window.location.href = '/profile'; }
    </script>
  </body>
</html>