<div class='row'>
  {{!-- <h1 class='greeting text-center'>Log in to create your next legendary character.</h1> --}}
  <div id="login-text">
  <h2 class='greeting text-center'>Legendary characters await</h1>
  <p class="text-center m-0">LegendSmith uses your choices and top-notch AI to generate amazing characters. Whether you're a gamer looking for a character to sink your teeth into,</p> 
  <p class="text-center m-0">or a writer searching for a great story prompt, LegendSmith is here to kick-start your imagination. Log in or sign up to get started!</p>
  </div>

  <div class='col-md-5'>
    <h3>Log In</h3>

    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>email:</label>
        <input class='form-input' type='text' id='email-login' />
      </div>
      <div class='form-group'>
        <label for='password-login'>password:</label>
        <input class='form-input' type='password' id='password-login' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>login</button>
      </div>
    </form>
  </div>
  <div class='col-md-5'>
    <h3>Sign Up</h3>

    <form class='form signup-form'>
      <div class='form-group'>
        <label for='name-signup'>name:</label>
        <input class='form-input' type='text' id='name-signup' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>email:</label>
        <input class='form-input' type='text' id='email-signup' />
      </div>
      <div class='form-group'>
        <label for='password-signup'>password:</label>
        <input class='form-input' type='password' id='password-signup' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>signup</button>
      </div>
    </form>
  </div>
</div>
<script src='/js/login.js'></script>
{{!-- <script src='/js/login.js'></script> --}}