@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --primary: #f2d7ac;
  --secondary: #cfcfcf;
  --tertiary: #f2d7ac;
  --quatrinary: #6c6b67;
  --light: #080808;
  --dark: #f2d7ac;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

* {
  /* font-family: 'Homemade Apple', cursive; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

#pagetitle {
  font-family: 'Homemade Apple', cursive;
  font-weight: 800;
  font-size: 350%;
  /* color: #fff; */
}

header h2 {
  /* font-family: 'Homemade Apple', cursive; */
  font-size: 150%;
  margin-left: 110px;
  margin-top: -20px;
  font-style: italic;
  /* color: #fff; */
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-image: url('../assets/images/sj-objio-XFWiZTa2Ub0-unsplash.jpg');
}

a {
  color: var(--dark);
  text-decoration: none;
}

a .btn {
  margin: 20px;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  /* background: var(--primary); */
  color: var(--light);
  background-image: url('../assets/images/jeremy-thomas-E0AHdsENmDg-unsplash.jpg');
  background-size: cover;
  /* background-image: url('../images/kiwihug-3gifzboyZk0-unsplash.jpg'); */
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

nav {
  display: flex;
  background-color: var(--quatrinary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
}

nav a:hover {
  color: var(--light);
  text-decoration: none;
  background-color: var(--secondary);
}

.gallery {
  flex: 4;
  background-color: var(--secondary);
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
} 

.btn-no-style {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  background: none;
  border: none;
  font-size: 100%;
  font-weight: 600;
  /* 
  
  padding: 0px;
  cursor: pointer;
  text-decoration: none;
  
  transition: color 0.1s;
  margin-left: 16px;
  margin-top: 14px; */
}
.btn-no-style:hover {
  color: var(--light);
  font-weight: 600;
  background-color: var(--secondary);
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#user-greeting {
  align-content: center;
}

.greeting {
  font-size: 2rem;
  margin: 1rem;
  /* margin-bottom: 50px; */
}

/* some CSS for output page  */
#savetext {
  color: red;
  margin-top: 10px;
}

#genimg {
  height: 500px;
  width: 500px;
}

.character-card {
  background: lemonchiffon;
}
